<br>
<br>
<% unless @hangman.number_incorrect() > 10 %>
  <img src='/images/hang<%= @hangman.number_incorrect() %>.gif'>
<% else %>
  <img src='/images/hang10.gif'>
<% end %>


<br>
<h1>Difficulty: <%= @hangman.difficulty() %></h1>
<h2><%= @hangman.hidden_word() %></h2>
<h2><%= @hangman.incorrect_letters().join(' ') %></h2>
<br>
<br>
<br>
<form action='/letter_check' method = 'post'>
  <input type='text' name='letter_checker'>
  <button id='check_letter' type='submit' class='btn btn-success'>Check letter</button>
</form>

<% if @hangman.number_incorrect() >= 11 %>
<h2>You lose! <a href="/">Try again.</a></h2>
<% end %>
<% unless @hangman.hidden_word.split(" ").include?('_')%>
<h2>You win! <a href="/">Try again.</a></h2>
<% end %>
