<br>
<!--<img src='images/hang0.gif'>-->
<br>
<h1>Welcome to Hangman!</h1>
<h2>Select your difficulty</h2>
<form action="/difficulty/easy" method="post">
  <button id="easy_button" class="btn btn-primary" name="easy" type="submit">Easy</button>
</form>
<form action="/difficulty/medium" method="post">
  <button id="medium_button" class="btn btn-success" name="medium" type="submit">Medium</button>
</form>
<form action="/difficulty/hard" method="post">
  <button id="hard_button" class="btn btn-danger" name="hard" type="submit">Hard</button>
</form>

<!--  <a href="/difficulty/tester">click me</a>
